body {
  background-color: #4a5fc1;
  Font-family: 'Courier New', helvetica, sans-serif;
}

h1 {
  display: flex;
  color: #e5b9a8 ;
  text-shadow: 0 0 3px red, 0 0 5px #e1fcfd;
  justify-content: center;

}

h3 {
  color: #e5b9a8;
}

p {
  color: #394f8a;
}

.friend {
  background-color: #e1fcfd;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.friend > h3 {
  text-transform: uppercase;
}



#btn {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #9cf6fb;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: bolder;
  padding: 15px 32px;
  border-radius: 10px;
  text-shadow: 0 0 3px #e5b9a8, 0 0 5px #e1fcfd;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
  background-color: #ead6cd;
  color: #394f8a;
}